@supports (display: grid) {
    .block_grading_report .vertical {
      display: grid;
      grid-template-columns: min-content min-content;
      grid-template-rows: auto auto;
      grid-template-areas:
        "caption caption"
        "head body";
    }
    .block_grading_report .vertical thead {
      grid-area: head;
    }
    .block_grading_report .vertical tbody {
      grid-area: body;
    }
    .block_grading_report .vertical caption {
      grid-area: caption; 
    }
 }
 
 /* Flex - Cross Browser CSS */
 .block_grading_report .vertical thead {
   display: flex;
   flex-shrink: 0;
   min-width: min-content;
 }
 .block_grading_report .vertical tbody {
     display: flex;
 }
 .block_grading_report .vertical tr {
   display: flex;
   flex-direction: column;
   min-width: min-content;
   flex-shrink: 0;
 }
 .block_grading_report .vertical td, .vertical th {
   display: block;
 }
 .block_grading_report .vertical caption {
   display: block;
 }
 
 
 /* Visual styling */
 .block_grading_report  table { border-collapse: collapse; }
 .block_grading_report table td {
   border: 1px solid black; 
 }
 .block_grading_report table th {
   border: 1px solid black;
   background-color: grey;
   color: white;
 }
 .block_grading_report .test {
    border: 1px solid black;
    background-color: grey;
    color: white;
  }