{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block/student_dashboard
    Example context (json):
    {
    }
}}
<h1>Grading Report</h1>
<p>{{texttodisplay}}</p>

<div class="dropdown show">
  <input type="button" class="btn btn-primary" value="Back" onclick="location.href='https://moodle.libertycollege.edu.au/'">
  <a class="custom-select" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Groups
  </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#cohorts}}
      {{{drop_downitem}}}
        {{/cohorts}}
    </div>
    <th>
    <div><b>Group Name : </b>{{groupname}}</div>
    <div><b>Total number of students : </b>{{studentnumber}}</div>
     
</div>

<hr>
  <table class="" style='display: flex;
   flex-shrink: 0;
   min-width: min-content;'>
  <thead style = "display: flex;">
    <tr style = "display: flex;flex-direction: column;min-width: min-content;flex-shrink: 0;">
    <th style = "display: block; border:1px solid black; width:380px; height:50px "><b>Student name<b></th>
    <th style = "display: block; border:1px solid black ">Start Date</th>
    <th style = "display: block; border:1px solid black ">End Date</th>
    <th style = "display: block; border:1px solid black ">Student ID</th>
    <th style = "display: block; border:1px solid black ">Schedule</th>
    <th style = "display: block; border:1px solid black ">Term 1</th>
    <th style = "display: block; border:1px solid black ">CPCCWHS1001</th>
    <th style = "display: block; border:1px solid black ">CPCCBC4001A(Apply building codes)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC4003A(Prepare a construction contract)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC4004A(Produce estimated costs)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC4005A(Produce labour schedules)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC4010B(Apply principles residential low rise)</th>
    <th style = "display: block; border:1px solid black ">Term 2</th>
    <th style = "display: block; border:1px solid black ">CPCCBC5001B(Apply Building Codes)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC5010B(Manage construction work)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC5003A(Supervise the planning of)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC5002A(Monitor costing systems)</th>
    <th style = "display: block; border:1px solid black ">Term 3</th>
    <th style = "display: block; border:1px solid black ">CPCCBC5011A(Manage environmental management)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC5018A(Apply structural principles)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC5005A(Select and manage building)</th>
    <th style = "display: block; border:1px solid black ">CPCCBC5004A(Supervise and apply quality)</th>
    <th style = "display: block; border:1px solid black ">Term 4</th>
    <th style = "display: block; border:1px solid black ">BSBPMG508A(Manage project risk)</th>
    <th style = "display: block; border:1px solid black ">BSBPMG505A(Manage project quality)</th>
    <th style = "display: block; border:1px solid black ">BSBOHS504B(Apply principles of OHS)</th>
    </tr>
  </thead>
  <tbody style = "display: flex;">
{{#users}}
    <tr style = "display: flex;flex-direction: column;min-width: min-content;flex-shrink: 0;">
    {{{userlink}}}
    <td style = "display: block;border:1px solid black"class="text-center ">{{startdate}}</td>
    <td style = "display: block;border:1px solid black"class="text-center ">{{enddate}}</td>
    <td style = "display: block;border:1px solid black"class="text-center ">{{studentid}}</td>
    <td style = "display: block;border:1px solid black">&nbsp</td>
    <td style = "display: block;border:1px solid black">&nbsp</td>
    {{{cpccwhs1001}}}
    {{{cpccbc4001a}}}
    {{{cpccbc4003a}}}
    {{{cpccbc4004a}}}
    {{{cpccbc4005a}}}
    {{{cpccbc4010b}}}
    <td style = "display: block;border:1px solid black">&nbsp</td>
    {{{cpccbc5001b}}}
    {{{cpccbc5010b}}}
    {{{cpccbc5003a}}}
    {{{cpccbc5002a}}}
    <td style = "display: block;border:1px solid black"> &nbsp</td>
    {{{cpccbc5011a}}}
    {{{cpccbc5018a}}}
    {{{cpccbc5005a}}}
    {{{cpccbc5004a}}}
    <td style = "display: block;border:1px solid black"> &nbsp</td>
    {{{bsbpmg508a}}}
    {{{bsbpmg505a}}}
    {{{bsbohs504b}}}
    </tr>
{{/users}}
    </tbody>
  </table>
      <hr>
<div class="card">
  <h5>Description</h5>
  <div>
  <b>W:</b> Written Activities ; <b>S:</b> Summative Activities
  </div>  
</div>

