{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block/student_dashboard
    Example context (json):
    {
    }
}}
<h1>Grading Report</h1>
<p>{{texttodisplay}}</p>

<div class="dropdown show">
  <input type="button" class="btn btn-primary" value="Back" onclick="location.href='https://moodle.libertycollege.edu.au/'">
  <a class="custom-select" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Groups
  </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#cohorts}}
      {{{drop_downitem}}}
        {{/cohorts}}
    </div>
    <th>
    <div><b>Group Name : </b>{{groupname}}</div>
    <div><b>Total number of students : </b>{{studentnumber}}</div>
     
</div>

<hr>
  <table class="" style='display: flex;
   flex-shrink: 0;
   min-width: min-content;'>
  <thead style = "display: flex;">
    <tr style = "display: flex; flex-direction: column; min-width: min-content; flex-shrink: 0;">
    <th style = "display: block; border:1px solid black; width:380px; height:50px  "><b>Student name<b></th>
    <th style = "display: block; border:1px solid black ">Start Date</th>
    <th style = "display: block; border:1px solid black ">End Date</th>
    <th style = "display: block; border:1px solid black ">Student ID</th>
    <th style = "display: block; border:1px solid black ">Student Email</th>
    <th style = "display: block; border:1px solid black ">Schedule</th>
    <th style = "display: block; border:1px solid black ">Term 1</th>
    <th style = "display: block; border:1px solid black ">CPCCWHS1001</th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=382">CPCCBC4001A(Apply building codes)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=380">CPCCBC4002A(Manage occupational)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=381">CPCCBC4003A(Prepare a construction contract)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=383">CPCCBC4004A(Produce estimated costs)</a></th>
    <th style = "display: block; border:1px solid black ">Term 2</th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=384">CPCCBC4005A(Produce labour schedules)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=385">CPCCBC4006B(Select construction materials)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=387">CPCCBC4007A(Plan building work)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=386">CPCCBC4008B(Conduct on-site supervision)</a></th>
    <th style = "display: block; border:1px solid black ">Term 3</th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=388">CPCCBC4009B(Apply legal requirements to building)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=389">CPCCBC4010B(Apply principles residential low rise)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=391">CPCCBC4011B(Apply principles commercial low rise)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=390">CPCCBC4012B(Read and interpret plans)</a></th>
    <th style = "display: block; border:1px solid black ">Term 4</th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=466">BSBLDR403(Lead team effectiveness)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=392">CPCCBC4013A(Prepare tender documentation)</a></th>
    <th style = "display: block; border:1px solid black "><a href="https://moodle.libertycollege.edu.au/course/view.php?id=394">BSBSMB406(Manage small business finances)</a></th>
    
    </tr>
  </thead>
  <tbody style = "display: flex;">
{{#users}}
    <tr style = "display: flex;flex-direction: column;min-width: min-content;flex-shrink: 0;">
    {{{userlink}}}
    <td style = "display: block;border:1px solid black"class="text-center ">{{startdate}}</td>
    <td style = "display: block;border:1px solid black"class="text-center ">{{enddate}}</td>
    <td style = "display: block;border:1px solid black"class="text-center ">{{studentid}}</td>
    <td style = "display: block;border:1px solid black"class="text-center ">{{email}}</td>
    <td style = "display: block;border:1px solid black">&nbsp</td>
    <td style = "display: block;border:1px solid black">&nbsp</td>
    {{{cpccwhs1001}}}
    {{{cpccbc4001a}}}
    {{{cpccbc4002a}}}
    {{{cpccbc4003a}}}
    {{{cpccbc4004a}}}
    <td style = "display: block;border:1px solid black">&nbsp</td>
    {{{cpccbc4005a}}}
    {{{cpccbc4006b}}}
    {{{cpccbc4007a}}}
    {{{cpccbc4008b}}}
    <td style = "display: block;border:1px solid black"> &nbsp</td>
    {{{cpccbc4009b}}}
    {{{cpccbc4010b}}}
    {{{cpccbc4011b}}}
    {{{cpccbc4012b}}}
    <td style = "display: block;border:1px solid black"> &nbsp</td>
    {{{bsbldr403}}}
    {{{cpccbc4013a}}}
    {{{bsbsmb406}}}
    </tr>
{{/users}}
    </tbody>
  </table>
  <hr>
<div class="card">
  <h5>Description</h5>
  <div>
  <b>W:</b> Written Activities ; <b>S:</b> Summative Activities; <b>CT:</b> Manually Graded (Credit Transfer)
  </div>  
</div>
    

