{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block/student_dashboard
    Example context (json):
    {
    }
}}
<h1>Grading Report</h1>
<p>{{texttodisplay}}</p>

<div class="dropdown show">
  <input type="button" class="btn btn-primary" value="Back" onclick="location.href='https://moodle.libertycollege.edu.au/'">
  <a class="custom-select" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Groups
  </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#cohorts}}
      {{{drop_downitem}}}
        {{/cohorts}}
    </div>
    <th>
    <div><b>Group Name : </b>{{groupname}}</div>
    <div><b>Total number of students : </b>{{studentnumber}}</div>
     
</div>



<hr>
  <table class="" style='display: flex;
   flex-shrink: 0;
   min-width: min-content;'>
  <thead style = "display: flex;">
    <tr style = "display: flex;flex-direction: column;min-width: min-content;flex-shrink: 0;">
    <th style = "display: block; border:1px solid black; width:350px ; height:50px "><b>Student name<b></th>
    <th style = "display: block; border:1px solid black ">Start Date</th>
    <th style = "display: block; border:1px solid black ">End Date</th>
    <th style = "display: block; border:1px solid black ">Student ID</th>
    <th style = "display: block; border:1px solid black ">Student Email</th>
    <th style = "display: block; border:1px solid black ">Schedule</th>
    <th style = "display: block; border:1px solid black ">Term 1</th>
    <th style = "display: block; border:1px solid black ">CPCCWHS1001</th>
    <th style = "display: block; border:1px solid black ">CPCCOHS2001A(Apply OHS requirements)</th>
    <th style = "display: block; border:1px solid black ">CPCCOHS2001A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCM1012A(Work effectively)</th>
    <th style = "display: block; border:1px solid black ">CPCCCM1012A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCM1013A(Plan and organise work)</th>
    <th style = "display: block; border:1px solid black ">CPCCCM1013A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCM1014A(Conduct workplace)</th>
    <th style = "display: block; border:1px solid black ">CPCCCM1014A_Practical</th>
    <th style = "display: block; border:1px solid black ">Term 2</th>
    <th style = "display: block; border:1px solid black ">CPCCCM1015A(Carry out measurements)</th>
    <th style = "display: block; border:1px solid black ">CPCCCM1015A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2001A(Read and interpret)</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2001A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA2011A(Handle carpentry materials)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA2011A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA2002B(Use carpentry tools)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA2002B_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3002A(Carry out setting out)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3002A_Practical</th>
    <th style = "display: block; border:1px solid black ">Term 3</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3003A(Install flooring systems)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3003A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3004A(Construct wall frames)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3004A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCSH3008(Install internal shop)</th>
    <th style = "display: block; border:1px solid black ">CPCCSH3008_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3010A(Install and replace windows)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3010A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3017B(Install exterior cladding)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3017B_Practical</th>
    <th style = "display: block; border:1px solid black ">Term 4</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3007C(Construct pitched roofs)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3007C_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3005B(Construct ceiling frames)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3005B_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3008B(Construct eaves)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3008B_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3006B(Erect roof trusses)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3006B_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3023A(Carry out levelling operations)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3023A_Practical</th>
    <th style = "display: block; border:1px solid black ">Term 5</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2007B(Use explosive power tools)</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2007B_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2002A(Carry out excavation)</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2002A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2010B(Work safely at heights)</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2010B_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2008B(Erect and dismantle)</th>
    <th style = "display: block; border:1px solid black ">CPCCCM2008B_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3001A(Carry out general demolition)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA3001A_Practical</th>
    <th style = "display: block; border:1px solid black ">Term 6</th>
    <th style = "display: block; border:1px solid black ">CPCCSF2004A(Place and fix reinforcemen)</th>
    <th style = "display: block; border:1px solid black ">CPCCSF2004A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCO2013A(Carry out concreting)</th>
    <th style = "display: block; border:1px solid black ">CPCCCO2013A_Practical</th>
    <th style = "display: block; border:1px solid black ">CPCCCA2003A(Erect and dismantle formwork)</th>
    <th style = "display: block; border:1px solid black ">CPCCCA2003A_Practical</th>
    <th style = "display: block; border:1px solid black ">BSBSMB406(Manage small business)</th>
    <th style = "display: block; border:1px solid black ">BSBSMB301(Investigate micro business)</th>
    <th style = "display: block; border:1px solid black ">BSBSMB301_Practical</th>
    <th style = "display: block; border:1px solid black; height:50px "><b>Student name<b></th>

    
    </tr>
  </thead>
  <tbody style = "display: flex;">
{{#users}}
    <tr style = "display: flex;flex-direction: column;min-width: min-content;flex-shrink: 0;">
    {{{userlink}}}
    <td style = "display: block;border:1px solid black"class="text-center ">{{startdate}}</td>
    <td style = "display: block;border:1px solid black"class="text-center ">{{enddate}}</td>
    <td style = "display: block;border:1px solid black"class="text-center ">{{studentid}}</td>
    <td style = "display: block;border:1px solid black"class="text-center ">{{email}}</td>
    <td style = "display: block;border:1px solid black">&nbsp</td>
    <td style = "display: block;border:1px solid black">&nbsp</td>
    {{{cpccwhs1001}}}
    {{{cpccohs2001a}}}
    {{{cpccohs2001a_practical}}}
    {{{cpcccm1012a}}}
    {{{cpcccm1012a_practical}}}
    {{{cpcccm1013a}}}
    {{{cpcccm1013a_practical}}}
    {{{cpcccm1014a}}}
    {{{cpcccm1014a_practical}}}
    <td style = "display: block;border:1px solid black">&nbsp</td>
    {{{cpcccm1015a}}}
    {{{cpcccm1015a_practical}}}
    {{{cpcccm2001a}}}
    {{{cpcccm2001a_practical}}}
    {{{cpccca2011a}}}
    {{{cpccca2011a_practical}}}
    {{{cpccca2002b}}}
    {{{cpccca2002b_practical}}}
    {{{cpccca3002a}}}
    {{{cpccca3002a_practical}}}
    <td style = "display: block;border:1px solid black"> &nbsp</td>
    {{{cpccca3003a}}}
    {{{cpccca3003a_practical}}}
    {{{cpccca3004a}}}
    {{{cpccca3004a_practical}}}
    {{{cpccsh3008}}}
    {{{cpccsh3008_practical}}}
    {{{cpccca3010a}}}
    {{{cpccca3010a_practical}}}
    {{{cpccca3017b}}}
    {{{cpccca3017b_practical}}}
    <td style = "display: block;border:1px solid black"> &nbsp</td>
    {{{cpccca3007c}}}
    {{{cpccca3007c_practical}}}
    {{{cpccca3005b}}}
    {{{cpccca3005b_practical}}}
    {{{cpccca3008b}}}
    {{{cpccca3008b_practical}}}
    {{{cpccca3006b}}}
    {{{cpccca3006b_practical}}}
    {{{cpccca3023a}}}
    {{{cpccca3023a_practical}}}
    <td style = "display: block;border:1px solid black"> &nbsp</td>
    {{{cpcccm2007b}}}
    {{{cpcccm2007b_practical}}}
    {{{cpcccm2002a}}}
    {{{cpcccm2002a_practical}}}
    {{{cpcccm2010b}}}
    {{{cpcccm2010b_practical}}}
    {{{cpcccm2008b}}}
    {{{cpcccm2008b_practical}}}
    {{{cpccca3001a}}}
    {{{cpccca3001a_practical}}}
    <td style = "display: block;border:1px solid black"> &nbsp</td>
    {{{cpccsf2004a}}}
    {{{cpccsf2004a_practical}}}
    {{{cpccco2013a}}}
    {{{cpccco2013a_practical}}}
    {{{cpccca2003a}}}
    {{{cpccca2003a_practical}}}
    {{{bsbsmb406}}}
    {{{bsbsmb301}}}
    {{{bsbsmb301_practical}}}
    {{{userlink}}}
    </tr>
{{/users}}
    </tbody>
  </table>
<hr>
<div class="card">
  <h5>Description</h5>
  <div>
  <b>SW:</b> Practical Assessment - SWMS ; <b>PH:</b>Practical Assessment - Photo ;<b>PA:</b>Practical Assessment <b>Q:</b>Quiz
  </div>  
</div>
